*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
header{
	border-bottom:solid;
	background-color:cyan;
}
img{
	height:200px;
}
div div div{
	width:25%;
	height:100px;
	border:solid;
	margin:50px 10px 50px 10px;
	display:flex;
	justify-content:center;
	align-items:center;
	box-shadow: 10px 5px 20px 5px #000;
}
.div2{
	display:flex;
	background-color:yellow;
}
.div3{
	display:flex;
	background-color:magenta;
}
header nav>ul{
	display:flex;
	list-style:none;
	text-align:center;
	border:solid;
	margin-bottom:20px;
}
nav>ul>li{
	width:100%;
	background-color:blue;
}
li{
	list-style:none;
}
ul ul{
	display:none;
	width:25%;
}
li:hover ul{
	position:absolute;
	display:block;
	background-color:blue;
}