*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	list-style:none;
}
.menu{
	display:flex;
	width:100%;
	background:magenta;
}
.submenu{
	position:absolute;
	width:100%;
}
.submenu1{
	position:absolute;
	width:100%;
	top:0;
	left:224px;
}
.menu li{
	position:relative;
	width:16.67%;
	text-align:center;
	border:1px solid;
}
.submenu li{
	position:relative;
	width:100%;
	visibility:hidden;
	opacity:0;
}
.menu li:hover .submenu li{
	visibility:visible;
	opacity:1;
}
/* .submenu1{
	position:relative;
	width:100%;
	visibility:hidden;
	opacity:0;
} */
/* .menu .submenu .submenu1 li{
	visibility:visible;
	opacity:1;
} */